$color-principal: #00A79D;
$color-principal-hover:rgb(10, 184, 173);
$color-secundario: #f6f3f3;
$color-texto: #333333;
$color-texto-secundario: #808080;
$fuente-principal: 'Arial', sans-serif;
$espaciado-medio: 16px;
