<div class="student-form">
    <div class="back" (click)="toHome()">
        <p><span>{{`<-`}}</span> Volver</p>
    </div>
    
    <main>
        <h1 class="title">{{title}}</h1>
        <p class="description">{{description}}</p>
  
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <div class="input-item">
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Juan" formControlName="name">
                    <p style="color: red" *ngIf="form.get('name')?.errors && !validForm">Ingrese el nombre</p>
                </div>
                <div class="input-item">
                    <label for="">Apellido</label>
                    <input type="text" placeholder="Perez" formControlName="lastName">
                    <p style="color: red" *ngIf="form.get('lastName')?.errors && !validForm">Ingrese el apellido</p>
                </div>
            </div>

            <div class="input-group">
                <div class="input-item">
                    <label for="">Email</label>
                    <input type="email" placeholder="juan.perez@ejemplo.com" formControlName="email">
                    <p style="color: red" *ngIf="form.get('email')?.errors && !validForm">Ingrese un correo valido</p>
                </div>
            </div>

            <div class="input-group">
                <div class="input-item">
                    <label for="">Telefono</label>
                    <input type="text" placeholder="555-2222-3333" formControlName="phoneNumber">
                    <p style="color: red" *ngIf="form.get('phoneNumber')?.errors && !validForm">Ingrese un numero de telefono</p>
                </div>
            </div>
            
            <div class="input-group">
                <div class="input-item">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" formControlName="birthdate">
                    <p style="color: red" *ngIf="form.get('birthdate')?.errors && !validForm">Ingrese una fecha</p>
                </div>
            </div>

            <div class="input-group">
                <div class="input-item">
                    <label for="">Carrera</label>
                    <input type="text" placeholder="Medicina" formControlName="career">
                    <p style="color: red" *ngIf="form.get('career')?.errors && !validForm">Ingrese una carrera</p>
                </div>
            </div>

            <div class="actions">
                <button (click)="toHome()">Cancelar</button>
                <button type="submit" class="action">{{action}}</button>
            </div>

        </form>
       
    </main>
    
    
</div>
