@use '../../../styles/variables' as *; 

.student {
    border: 1px solid $color-secundario;
    border-radius: 12px;
    box-shadow: 1px 1px 0px $color-secundario;
    display: flex;
    flex-direction: column;
    .student-information{
        display: flex;
        gap: 12px;
        padding: 24px;
        span{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-secundario;
            border: 1px solid $color-secundario;
        }
        .contact{
            display: flex;
            flex-direction: column;
            gap: 4px;
            .name{
                font-weight: bold;
            }
            .career{
                align-self: flex-start;
                padding: 2px 8px;
                background-color: rgb(220, 251, 228);
                font-size: 12px;
                color: rgb(9, 95, 9);
                font-weight: 500;
                border-radius: 12px;
                text-align: left; // aunque no es necesario en inline-block

            }
            .email, .phonenumber {
                color: $color-texto-secundario;
                font-size: 12px;
            }
        }
    }
    .student-options{
        display: flex;
        gap: 12px;
        justify-content: end;
        background-color: $color-secundario;
        padding: 8px 16px;

        button{
            padding: 6px 12px;
            background-color: white;
            border: 1px solid $color-secundario;
            border-radius: 12px;
            cursor: pointer;
        }

        .delete {
            color: rgb(202, 38, 38);
            border: 1px solid rgb(202, 38, 38);;
        }
    }
}