<div class="student">
    <div class="student-information">
        <span>JP</span>
        <div class="contact">
            <p class="name">{{ name }}</p>
            <p class="career">{{ career }}</p>
            <p class="email">{{ email }}</p>
            <p class="phonenumber">{{ phonenumber }}</p>
        </div>
    </div>
    <div class="student-options">
        <button class="edit" (click)="toEditStudent(id)">Editar</button>
        <button class="delete">Eliminar</button>
    </div>
</div>